<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table class="pure-table">
    <thead>
    <tr>
        <th>iconId</th>
        <th>brand</th>
        <th>tags</th>
        <th>name</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td><a href="https://mail.qq.com/cgi-bin/frame_html?sid=H2IIgAt12_GOqS5P&r=feaf52e70ab00c83a12be086414ebdae">aa</a></td>
        <td><a href="https://www.baidu.com">cc</a></td>
        <td>dd</td>
        <td>ff</td>
    </tr>
<!--我要学习html-->
    </tbody>
</table>

</body>
</html>